/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 90px;

  display: flex;
  align-items: center;

  background-color: #0f172a;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  z-index: 1000;
}

/* LEFT */
.nav-left {
  width: 200px;            
  margin-left: 40px;
  font-weight: 600;
  font-size: 30px;
  color: #3b82f6;
}

/* CENTER */
.nav-center {
  flex: 1;                   /* fills remaining space */
  display: flex;
  justify-content: center;  
  gap: 24px;
}

.nav-center a {
  text-decoration: none;
  color: #cbd5e1;
  font-size: 20px;
}

.nav-center a:hover {
  color: #3b82f6;
}

/* RIGHT */
.nav-right {
  width: 200px;              
  margin-right: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-right button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #cbd5e1;
}

.nav-right button:hover {
  color: #3b82f6;
}
@media (max-width: 768px) {
  .navbar {
    height: 90px;          
    padding: 0 16px;       
    flex-wrap: nowrap;     
  }

  .nav-left {
    margin-left: 16px;
    font-size: 22px;
  }

  .nav-center {
    gap: 16px;
  }

  .nav-center a {
    font-size: 16px;
  }

  .nav-right {
    margin-right: 16px;
  }
}