/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 90px;

  display: flex;
  align-items: center;
  
border-bottom:1px solid #94A388 ;
  background-color: #34176A;
  
  z-index: 1000;
}

/* LEFT */
.nav-left {
  margin-left: 40px;          /* ✅ exact spacing */
  font-weight: 600;
  font-size: 30px;
  color: #f8fafc;
}

/* CENTER */
.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;    /* ✅ true center */
  gap: 24px;
}

.nav-center a {
  text-decoration: none;
  color: #94a3b8;
  font-size: 20px;
}

.nav-center a:hover {
  color: #f8fafc;
    cursor: pointer;
}

/* RIGHT */
.nav-right {
  margin-right: 30px;         /* ✅ exact spacing */
  display: flex;
  align-items: center;
}

.nav-right button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: #f8fafc;
}